.hide {
    display: none;
}

body {
    background: #7d33f5 ;
}

.button {
    width: 100px;
    height: 30px;
    margin: 30px;
}

#mathbox1, #mathbox2, #mathbox3 {
    margin: 30px;
}

h1 {
    color: #e2dcdc;
}